body {
  margin: 0;
  padding: 0;
  color: black;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

a {
  color: black;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
